body {
  margin: 0;
  padding: 0;
  background-color: #161616;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.toggle {
  display: none;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #edf1fd;
  box-sizing: border-box;
  position: relative;
  background-image: url("../images/143.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 15px;
  font-size: 12px;
}

.logo {
  height: 45px;
}

.menu li a:hover,
.menu li a .active {
  background-color: #292929;
  color: #fff !important;
  font-weight: 700;
  transition: all ease 0.4s;
}

.name {
  font-family: calibri;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.name p:nth-child(1),
.name .details {
  color: #131313;
  font-size: 20px;
}

.text {
  font-family: Poppins;
  font-size: 40px;
  margin: 0;
  letter-spacing: 3px;
  color: #292929;
}

.cv-btn {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: #fff;
}

.cv-btn:hover {
  background-color: #131313;
  transition: all ease 0.5s;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}

.social a {
  margin: 6px 12px;
}

.social i {
  color: rgba(78, 76, 180, 0.513);
  font-size: 35px;
}

.social i:hover {
  color: #17d1ac;
  transition: all ease 0.5s;
}

.arrow {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0px;
  left: -3%;
  border-right: 1px solid rgba(41, 41, 41, 0.3);
}

.arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0px 11px;
  border-color: #292929 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}

#about {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
}

.about-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
}

.about-text h1 {
  font-size: 5rem;
  color: #17d1ac;
}

.about-text h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}

.about-text h1,
h2 {
  margin: 0;
  padding: 0;
}

.about-text p {
  font-size: 1.2rem;
  color: rgba(251, 251, 251, 0.9);
}

.about-text a {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
  padding: 10px;
  color: #131313;
}

.about-text a:hover {
  background-color: #fff;
  transition: all ease 0.3s;
}

.skills {
  width: 100%;
  height: 100vh;
  background-color: #b3bebc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  box-sizing: border-box;
}

.skills div img {
  height: 100px;
  width: auto;
  margin: 10px;
}

.left-skills,
.right-skills {
  align-items: center;
  padding: 10px;
  border: solid 2px #202222;
  margin: 10px;
  opacity: 0.75;
}

.skills div h2 {
  padding-left: 10px;
  height: 30px;
  color: #121616;
}

.services {
  width: 100%;
  height: 100vh;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}

.s-heading h1 {
  color: #fff;
  font-size: 3rem;
  margin: 0%;
  padding: 0;
}

.s-heading p {
  color: rgba(249, 249, 249, 0.3);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}

.s-heading {
  text-align: center;
  margin: 20px 0px;
}

.s-box {
  background-color: #2b2b2b;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.sb-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-b-img {
  width: 100%;
  height: 70%;
}

.s-b-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s-b-text {
  width: 100%;
  height: 30%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-b-text a {
  margin: 0;
  color: #fff;
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipses;
  -webkit-box-orient: vertical;
}

.s-type {
  font-family: calibri;
  color: #fff;
  background-color: #151515;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
}

.s-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

#contact-btn h1 {
  font-size: 2rem;
  color: #1e1e1e;
  font-family: calibri;
  margin: 10px;
  padding: 5px;
  letter-spacing: 4px;
  border-bottom: 2px solid #1e1e1e;
}

#contact-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f7ff;
  margin: 20px 0px;
  box-sizing: border-box;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}

#contact-btn a {
  color: #ffffff;
  font-size: 1rem;
  font-family: calibri;
  width: 150px;
  height: 40px;
  margin: 10px;
  background-color: #1e1e1e;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-btn a:hover {
  background-color: #17d1ac;
  color: #000000;
  transition: all ease 0.5s;
  font-weight: 700;
}

#contact-form {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form form {
  display: flex;
  width: 80%;
  height: 60vh;
  background-color: #1a1a1a;
  box-shadow: 1px solid rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

.contact-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-right {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1 px solid rgba(255, 255, 255, 0.08);
}

.c-l-heading {
  font-family: calibri;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
}

.f-email,
.f-name,
.f-number {
  display: flex;
  flex-direction: column;
  font-family: calibri;
}

.f-email font,
.f-name font,
.f-number font {
  color: #bfbfbf;
  font-size: 22px;
}

.f-email input,
.f-name input {
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #fff;
  margin: 10px 0px;
}

.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.5;
  letter-spacing: 1px;
}

.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #08f8c8;
  transition: all ease 0.5s;
}

.message font {
  font-size: 18px;
  color: #4e4e4e;
  font-family: calibri;
}

.message {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.contact-right textarea {
  width: 100% !important;
  height: 320px important;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #ebebeb;
  font-size: 16px;
}

.contact-right textarea::placeholder {
  color: #ebebeb;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: calibri;
}

.contact-right button {
  width: 100%;
  height: 50px;
  background-color: #1ed98b;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 0px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-last {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-number {
  margin-top: 10px;
}

.f-number i {
  margin-top: 10px;
  color: #fff;
}

.f-number i:hover {
  color: #08f8c8;
}

@media (max-width: 1190px) {
  #main {
    background-size: 1150px;
  }

  .name {
    left: 10%;
    top: 50%;
  }

  .about-model img {
    height: 400px;
  }

  #services {
    height: auto;
  }

  .sb-container {
    flex-wrap: wrap;
  }

  .s-box {
    flex-grow: 1;
  }

  .s-b-text {
    text-align: center;
  }

  #contact-form form {
    width: 95% !important;
  }
}

@media (max-width: 970px) {
  #main {
    background-image: none !important;
  }

  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .about-model {
    display: none;
  }

  #about {
    justify-content: center;
    padding-top: 0px;
  }

  .about-text {
    width: 90%;
  }

  .about-text h1 {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  .toggle {
    display: block;
    margin-right: 46%;
  }

  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -35px;
  }

  .toggle.active:before {
    content: "\f00d";
  }

  nav {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 50px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    border: 3px solid #1f1f1f;
    display: none !important;
    margin: 0px;
    padding: 0px;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }

  .active-menu {
    display: block !important;
  }

  .c-l-heading h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  #contact-form {
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }

  #contact-form form {
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 90% !important;
  }

  .contact-left,
  .contact-last,
  .contact-right {
    width: 100%;
    border: none;
  }

  .f-email,
  .f-name,
  .f-number {
    width: 100%;
  }

  .f-email input,
  .f-name input {
    width: 100%;
    border: none;
    background-color: #262626 !important;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
  }

  textarea {
    background-color: #262626 !important;
    margin: 10px 0px;
    padding: 10px;
    height: 200px !important;
    width: 100% !important;
  }

  .message {
    margin: 0px;
  }

  #contact-form form h1 {
    margin: 5px 0px;
  }

  .skills {
    display: block;
    height: auto;
    padding: 10px !important;
  }
}

@media (max-wdith: 600px) {
  #contact-btn h1 {
    font-size: 1.2rem;
    margin: 0px 10%;
  }

  .name {
    width: 60%;
  }

  .arrow {
    margin-bottom: 20px;
  }

  .social {
    left: 30px;
    transform: translate(-10px);
  }
}

@media (max-width: 400px) {
  .s-box {
    width: 100%;
    height: 400px;
  }
}